 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! My name is Alyssa Ahn and I am a Technical Consultant at Adobe who is based out of San Francisco, CA. This site serves as a digital platform for all my passion projects as well as the pockets of curiosity that keep me a student at heart.  </p>
                </div>
                <div class="col-lg-4">
                    <p> The phrase 'Who Took a Byte?' came from the notorious Apple Screensaver with the oscillating logo. I hope you enjoy and learn a byte (or two) from this.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
